{% extends "base.html" %}

{% block activeJapan %} active {% endblock %}
{% block content %}

<div class="big-banner4">
    <div class="row align-items-center">
      <div class="col-lg-12"><h1 class="text-center">Japan</h1>
      </div>
    </div>
  </div>


    <br>
    <p> The next spot I absolutely wanted to travel was Japan. Japan was the one I anticipated the most ever since
    I started watching animes, which was a long time ago, let me tell you that. Through these animated series, I caught a glimpse of the japanese culture and since then, have been really intrigued
    to see how real life works around there. The japanese culture is absolutely fascinating to me. From their food, to their manners, everything
    is so different there. The country is also very hightech, things which you cannot find here in Canada or the States. I mean, have you seen their public
    toilets! However, there is also the serene part of life in japan. The cherry blossoms and the temples are a perfect example of it. Now, less blabering,
    more showing!
    </p>

    <div class="images">
        <div class="row ">
             <div class="col-lg-4"><img src="{{ url_for('static', filename='japan1.jpg') }}" alt="japan" class="img-fluid img-thumbnail" width="250" height="auto" margin-left=30px></div>
             <div class="col-lg-4"><img src="{{ url_for('static', filename='japan2.webp') }}" alt="japan cherry blossom" class="img-fluid img-thumbnail" width="250" height="auto" margin-left=30px></div>
             <div class="col-lg-4"><img src="{{ url_for('static', filename='japan3.jpeg') }}" alt="blue morocco" class="img-fluid img-thumbnail" width="350" height="auto" margin-left=30px></div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h2 class="text-center">
    Welcome to Japan
    </h2>
    <div class="landing">
    <div class="row">
        <div class="col-md-6">
            <p>
               This trip was special to me because it was like living my childhood dreams with my sister, who shared the same pasion for anime as me.
                We both grew up watching animes and eventually promised each other we would go visit Japan together one day. This day has finally arrived when
                our parents surprised us with tickets to the country for 5 days. The price of the airplane tickets were not as expensive as the other
                flights, approximately 1290$ for each ticket. The flight was 30 hours, which is way too long to be sitting down throughout the entire ride. Thankfully, we had stops!
                We then landed to Tokyo in Japan, the most famous city of the country. We had a hotel booked for us for 5 nights. Not going to lie, the choice of lodging could have been better.
                For one night at the Taiyo Hotel, it was 37$. Although the price seems fine, we missed the fun of spending the nights in the little cubicles in Japan, the
                Tokyo Capsule Hotel. It is more on the expensive side but definitely worth the stay for at least one night.
        </p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='hotel.jpg') }}" alt="Hotel" class="img-fluid img-thumbnail" width="350" height="auto" margin-left=30px>
        </div>

    </div>
    </div>

    <br>
    <br>

    <h2 class="text-center">
    The History of Japan
    </h2>
    <div class="architecture">
    <div class="row">
        <div class="col-md-4">
            <p>

                I must say, the history of Japan is something else. It is very different from all the others. The monuments almost
                tell you a story of their imperial dynasty era. We first decided to visit the Sensō-ji temple, which is an ancient buddhist
                temple in Tokyo. In fact, it is the oldest one in the city. The most interesting part of this temple is the titanium tiled roof
                that maintains the historic image but is stronger and lighter. It has a lot of history and is considered as a sacred place for buddhists
                of Japan. In fact, it holds a bigger meaning since the temple was once destroyed and then rebuilt during
                World War II. It is now a symbol of rebirth and peace for Japanese people. The first picture showcases the temple from the front view.
                On to the next historical place, one that was our list was the Atomic Bomb Dome, which is the Hiroshima Peace Memorial. The dome is
                a memory of the first ever atomic bomb of human history to land in Hiroshima city. Before the bombing, the building was the Hiroshima Prefectural Industrial
                Promotion Hall. The people who were inside the building died immediately and the building was gushed with fire.
                Today, the structure is designated as a UNESCO World Heritage site in 1996.
            </p>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='temple.jpg') }}" alt="Sensō-ji temple" class="img-fluid img-thumbnail" width="350" height="auto">

        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='bomb.JPG') }}"alt="Hiroshima Peace Memorial" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>

    </div>
    </div>

    <br>
    <br>

    <h2 class="text-center">
    The Culture of Japan
    </h2>

    <br>

    <div class="Culture">
    <div class="row">
        <div class="col-md-4">
             <img src="{{ url_for('static', filename='anime2.jpg') }}"alt="anime town" class="img-fluid img-thumbnail" width="500" height="auto">
        </div>
         <div class="col-md-4">
             <img src="{{ url_for('static', filename='blossom.jpg') }}"alt="cherry blossom trees" class="img-fluid img-thumbnail" width="600" height="auto">
        </div>
         <div class="col-md-4">
            <p>
               The japanese culture is the one I'm most excited about, even more than the food!! *Shocking* The culutre in Japan
                is one of the most unique ones in the world. They are truly different in their own beautiful way. The people there treat
                you like God and I'm not exaggerating at all. They treat their visitors with full respect by bowing everytime to them. Everyone
                in Japan is so respectful. One thing that really shook me is the fact that they would almost never steal your stuff. You can literally
                leave your stuff unattended and no one will take a single thing from you. Now, the main reason we had this trip is to experience the
                lives of your favorite anime characaters. I was so excited to actually see the places in real life and, potentially see people dress up
                as the anime characters. We were able to fangirl with other people without getting totally embarassed about it. In japan, there is even an anime city, the
                Electric Town of Tokyo, which is the undisputed center of anime in culture in Japan. Just walking through the streets of this town is an touristic attraction.
                It is just like the Times Squares, but for anime fanatics. Another cultural thing from Japan are the pretty Cherry Blossoms trees. They definitely
                leave you speechless. The place is so serene and perfect for pictures or even cute dates. If you can choose any month to visit Japan, I would suggest
                you to go during the month of April because that is when they have this wonderful festival of Cherry blossoms and it is also considered the month of
                cherry blossom trees where they burst into this beautiful pink. The best places to see the blush-tinted blooms are in Maruyama Park or the Mount Yishino.

            </p>
        </div>

    </div>

    </div>

    <br>
    <br>

    <h2 class="text-center">
    A taste of Japan
    </h2>
    <br>
    <br>
    <div class="Food">
    <div class="row">
        <div class="col-md-4">
             <img src="{{ url_for('static', filename='ramen.jpg') }}"alt="ramen" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='seven.jpg') }}"alt="7/11 convenience store" class="img-fluid img-thumbnail" width="400" height="auto">
        </div>

        <div class="col-md-4">
            <p>
                Lastly, but definitely not the least, the food in Japan. First off, I've been really meaning to try the ramen that I always see on animes.
                It looks so good I absolutely had to give it a try. I have already tasted the ramen here in my hometown but this one compared nothing to the ones
                I always have in Montreal. I tried the spicy garlic pork ramen and I think it might be my favourite food of all times. The garlic surprisingly made it
                very flavourful and the pork was just well cooked. I loved it so much that we had it everyday for supper till the end of our trip. The ramen makes you feel
                at home and even closer to your childhood (if you have been watching animes growing up). I still can't get over the flavours in this dish. The second place
                I had to try is their 7/11. 7/11 are very popular convenience stores in Japan and the states. Although it is not the fanciest food out there, the options
                there will make you drool. They have everything from ramen, to sushi, to strawberry milk, you name it! To be honest, I can live off of 7/11 food all day everyday.
                And the best part: it is super CHEAP!!
            </p>
        </div>

    </div>
    </div>

    <br>
    <br>

    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>My Final thoughts</h1>
        </div>
    </div>
    </div>

    <br>
    <p>
   Japan was the one I was most excited about because of animes. Ever since I started watching anime, I really wanted to visit the
    country where all this happened. Japan is truly the country where anime takes life. Thousands of people travel there for the same reason.
    The Electronic city of Japan is a must for anime fanatics. I fell in love with not only the city, but with everything that Japan has to offer to the
    world. I love how respectful people are and how much japanese value their families. I also love the technology in Japan. It is so advanced, but
    not in a scary way. It gives you hope for the future and it seems like you're living in the 2030s. Especially the toilets! And the food..Don't get
    me started on that. The food is just perfect and tastes exactly how I anticipated. The ramen gave me a major throwback which definitely touched me. This
    country surprisingly brings you back to your childhood while being futuristic.. at least for me. In short, you should definitely go visit Japan
    if you want to discover a whole different culture. If you are an anime fan like me, then what are you waiting for? Go!! My overall rating for
    this country would be a 9/10. I really loved it and would recommend to anyone who is willing to try out something new.
    </p>


{% endblock %}