{% extends "base.html" %}

{% block activeMorocco %} active {% endblock %}
{% block content %}
<div class="big-banner3">

    <div class="row align-items-center">
      <div class="col-lg-12"><h1 class="text-center">Morocco</h1>
      </div>
    </div>
  </div>

    <br>
    <p> My second destination is Morocco. I was particularly excited about this one because for once, I was going to travel with
    my friends without any parental supervision. We planned this trip to happen right after graduating College. It was our way to celebrate
    our success in our studies so far and I am glad we did it. The choice of the country was also perfect. We were literally the sisterhood and the traveling
    pants. I'm super excited about this one since it is visually the prettiest country I have visited yet. Riding the camels in the desert make this whole trip so much more
    better. Enough describing, let's jump right in! </p>

    <div class="images">
        <div class="row ">
             <div class="col-lg-4"><img src="{{ url_for('static', filename='morocco1.jpg') }}" alt="desert" class="img-fluid img-thumbnail" width="250" height="auto" margin-left=30px></div>
             <div class="col-lg-4"><img src="{{ url_for('static', filename='morocco2.jpg') }}" alt="morocco market" class="img-fluid img-thumbnail" width="250" height="auto" margin-left=30px></div>
             <div class="col-lg-4"><img src="{{ url_for('static', filename='morocco3.jpg') }}" alt="blue morocco" class="img-fluid img-thumbnail" width="350" height="auto" margin-left=30px></div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h2 class="text-center">
    Welcome to Morocco
    </h2>
    <div class="landing">
    <div class="row">
        <div class="col-md-6">
            <p>
                For this trip, we have planned a year ahead of time that we knew what places we wanted to visit and what plane we had to take
                to save more money. We boarded the Qatar Airlines this time, and landed at Casablanca, Morocco, 10 hours later. The flight was pretty cheap
                compared to the Thailand's one, about 700 canadian dollars. We also decided to book an airbnb instead of spending on expensive hotels
                for the nights. I have to admit it, it was pretty clever to book an airbnb since it only cost us about 30$ a night. The airbnb was located at Marakesh.
                The place was incredible and had a moroccan feel to it, not to mention it looked like a palace!. Our host was also wonderful, making sure everything
                was perfect.
        </p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='stay.jpg') }}" alt="Airport" class="img-fluid img-thumbnail" width="350" height="auto" margin-left=30px>
        </div>

    </div>
    </div>

    <br>
    <br>

    <h2 class="text-center">
    The History of Morocco
    </h2>
    <div class="architecture">
    <div class="row">
        <div class="col-md-4">
            <p>
                The incredible part of Morocco is the intricate interior design in almost everything: plates, furnitures, buildings, you name it!
                Almost every architecture has this ancient palace look. We first visited the capital city of Morocco, Rabat. Rabat as a whole has a
                very strong historical nature. We visited the Hassan tower, which was intended to be the tallest minaret in the world. It is now
                the minaret of an incomplete mosque since the construction of the mosque stopped when the designer al-Mansur died. It is made with red sandstone
                and is considered one of the top touristic attractions of Morocco. Just like the Hasan tower, there are many more amazing structures in this country.
                The first picture captures the beauty of the Hassan Tower. Another monument that has left us speechless is the Almoravid Qubba, a small Marrakech, Morocco.
                It is notable for being the one of the only remnants of Almoravid architecture in Marrakech. The decoration of the structure is extraordinary. The second
                picture shows inside the cupola of the Almoravid pavilion.
            </p>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='tower.jpg') }}" alt="temple" class="img-fluid img-thumbnail" width="350" height="auto">

        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='almoravid.jpg') }}"alt="temple" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>

    </div>
    </div>

    <br>
    <br>

    <h2 class="text-center">
    The Culture of Morocco
    </h2>

    <br>

    <div class="Culture">
    <div class="row">
        <div class="col-md-4">
             <img src="{{ url_for('static', filename='camel.jpg') }}"alt="camel" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>
         <div class="col-md-4">
             <img src="{{ url_for('static', filename='chefchauoen.jpg') }}"alt="chefchaouen" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>
         <div class="col-md-4">
            <p>
               I have a fond for the culture of Morocco. The clothing, their way of transportation, the multiples dunes in Morocco
                are out of this world. I think one of the most exciting part of this trip was riding the camels in the desert of Palm Grove of Marrakech.
                The price for camel ride was about 120$ canadian which included a ride on the camel through the Palm Grove during sunset and a tea break and
                dinner offered in a tent. The duration of this activity is approximately 5 hours. Although the cost of this activity is a little on the
                pricey side, I say it a must when visiting Morocco. You get to see the traditions across the country, all the while riding A CAMEL!!
                The walks through Chefchaouen is just absolutely stunning. The white and blues in the architecture takes you to a fairytale. The colors are so vibrant,
                you can definitely update your instagram feed with pictures of the city;)

            </p>
        </div>

    </div>

    </div>

    <br>
    <br>

    <h2 class="text-center">
    A taste of Morocco
    </h2>
    <br>
    <br>
    <div class="Food">
    <div class="row">
        <div class="col-md-4">
             <img src="{{ url_for('static', filename='couscous.jpg') }}"alt="couscous" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='shish.jpg') }}"alt="shish kebab" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>

        <div class="col-md-4">
            <p>
                Finally, the part that we all enjoy the most, the FOOOD!! I have to say, moroccan food is amazing. Their dishes
                are nothing like other dishes I have tasted before. It has its unique taste to it. If I had to describe their food in
                a few words, I would say it resembles to the food that you grew up eating it at your nanny's house every weekend. The warmth of their food
                literally brings you back down the lane of childhood souvenirs. I have tried so many dishes for me to name each and every one of them.
                However, I would say my top two ones have to be the couscous that makes me feel like at home and the shish kebab, which altogether
                sums up the moroccan cuisine. The spices in the grilled chicken and the couscous will burst your palette with flavours. You have to try it!!
            </p>
        </div>

    </div>
    </div>

    <br>
    <br>

    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>My Final thoughts</h1>
        </div>
    </div>
    </div>

    <br>
    <p>
    Morocco is just amazing. The blues of Morocco will make you fall in love with this country. Its architecture is out of this world. The
    amazing pattern on vases, buildings, towers, plates is just too beautiful. The country itself is a work of art. There is too many things to see and you will
    find the moroccan beauty wherever you go. Even our airbnb looked like a palace!! I am so in love with the architecture to the point where that I bought too many souvenirs
        from the country. As for the activities, the tour in the desert was enough to fill our hearts with joy. When we learned we can ride the camels, we
    were more than excited. If you don't mind spending a little more, I would suggest you to take the 3-day plan where you get to eat and sleep in tents and
    see the sunsets and sunrise in the desert. Just talking about it makes me want to go back to the country. I enjoyed every single moment in Morocco.
    The food was also perfect. The spices in their dishes burst your taste buds and gives a whole new perspective on food. My overall rating for this country is
    a 9.5/10. I really enjoyed it and would suggest to anyone who wants to explore the continent of Africa. This country is definitely a must in your
    bucket list
    </p>


{% endblock %}