{% extends "base.html" %}

{% block activeThailand %} active {% endblock %}
{% block content %}


<div class="big-banner2 img-responsive">
    <div class="row align-items-center">
      <div class="col-lg-12"><h1 class="text-center">Thailand</h1>
      </div>
    </div>
  </div>

    <br>
    <p> Our first stop is this beautiful country in Asia, Thailand. This has to be one of my favourite places I have ever
    land my foot on. Ever since we made this english project in 9th grade presenting a country we would like to visit, I was determined
    to visit this gem one day in my life. Two days before my 17th birthday, I backed up my bags and headed straight to the airport. I have never been
    this excited for a trip. I wanted to visit this place because of its great beauty. Just look at those temples, the beaches, and don't
    get me started on the floating market!!! Now enough of my story, let's hop on the juicy details.</p>

    <div class="images">
        <div class="row ">
             <div class="col-lg-4"><img src="{{ url_for('static', filename='thailand2.jpg') }}" alt="Thailand" class="img-fluid img-thumbnail" width="250" height="auto" margin-left=30px></div>
             <div class="col-lg-4"><img src="{{ url_for('static', filename='thailand3.webp') }}" alt="Japanese street" class="img-fluid img-thumbnail" width="250" height="auto" margin-left=30px></div>
             <div class="col-lg-4"><img src="{{ url_for('static', filename='thailand5.jpg') }}" alt="Tokyo" class="img-fluid img-thumbnail" width="350" height="auto" margin-left=30px></div>
        </div>
    </div>

    <br>
    <br>
    <br>

    <h2 class="text-center" style="margin-left:20px">
    My landing
    </h2>
    <div class="landing">
    <div class="row">
        <div class="col-md-6">
            <p>
            We boarded the Air China airlines and landed at an airport in Bangkok, specifically the Suvarnabhumi airport, one of the
                most popular ones. The flight was about 22 hours long. The price for one ticket was about 1853$ which is not the cheapest
                for Thailand but also not too bad. A pretty cheap plane ticket would be approximately 1500$. We booked a hotel that was publicized by
                Trivago, The Quarter Ladprao, a 5 star hotel that which was surprisingly cheap for a night: 43$ canadian. The hotel was pretty nice
                and the service was excellent. You can usually find cheap hotels in Thailand, which is very convenient for traveling.
        </p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='airport.jpg') }}" alt="Airport" class="img-fluid img-thumbnail" width="350" height="auto" margin-left=30px>
        </div>

    </div>
    </div>

    <br>
    <br>

    <h2 class="text-center">
    The History of Thailand
    </h2>
    <div class="architecture">
    <div class="row">
        <div class="col-md-4">
            <p>
                On to the history of Thailand!! There are many historical monuments in the country. Each architecture has a wonderful
                story to tell. One of them is the Wat Phra Si Sanphet, Ayutthaya which holds the story of the burmese wars. We had a guided tour
                to the this wonderful architecture from the Jacadatravel where they shared a brief history of the temple along with the visit to the historical place.
                The Wat Phra temple was considered the holiest temple on the site of Ayutthaya in Thailand. It was also the biggest one before the
                Burmese destroyed it. For the people in the country, it symbolizes their faith to Buddhism and the power of the spirituality. The picture to the far left
                is one of the few I have captured of this temple. Another beautiful historical place I would suggest you guys to visit is the Sukhothai Historical Park,
                also known as the 'dawn of happiness'. This place alone encloses too many historical attractions for tourists. There are 193 ruins of land. One of my favourite
                asset of this place is the big Buddha statue, called the Wat si Chum. It is breathtaking and definitely worth the long walk under the sun. The second picture
                is the Wat si Chum Buddha statue.

            </p>
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='history1.jpg') }}" alt="temple" class="img-fluid img-thumbnail" width="350" height="auto">

        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='buddha.jpg') }}"alt="temple" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>

    </div>
    </div>

    <br>
    <br>

    <h2 class="text-center">
    The Culture in Thailand
    </h2>

    <br>

    <div class="Culture">
    <div class="row">
        <div class="col-md-4">
             <img src="{{ url_for('static', filename='dress.jpg') }}"alt="my dress" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>
         <div class="col-md-4">
             <img src="{{ url_for('static', filename='market.jpg') }}"alt="my dress" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>
         <div class="col-md-4">
            <p>
                I think most can agree Thailand is rich in history and culture. In my opinion, the culture in Thailand is
                one of the most beautiful ones in the world. From their clothing, to their daily habits and most importantly, their foood!!
                One that has struck me the most is their abundant floating markets throughout Bangkok. The one we went to is named Damnoen Saduak, which
                is one of the most known floating markets in the country. Basically, there are several boats selling you fruits vegetables, even streetfood and the
                best part: it is open all DAY! Those little wooden houses are lined up along the canal ready to sell you sweets, souvenirs and many more.
                The first picture doesn't even capture the true beauty of the city's amazing attraction. I also had the chance to wear traditional clothes.
                It is absolutely pretty and very colorful. The thai clothing also holds a lot of history where both men and women wrap themselves up with a
                cloth. I tried the sabai dress which is a foot wide and is draped diagonally around the chest and covering only one shoulder. The second picture
                is me wearing the sabai dress.

            </p>
        </div>

    </div>

    </div>

    <br>
    <br>

    <h2 class="text-center" >
    A taste of Thailand
    </h2>
    <br>
    <br>
    <div class="Food">
    <div class="row">
        <div class="col-md-4">
             <img src="{{ url_for('static', filename='padthai.com') }}"alt="padthai" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='padkra.jpg') }}"alt="pad kra" class="img-fluid img-thumbnail" width="300" height="auto">
        </div>

        <div class="col-md-4">
            <p>
               Lastly, for the part that you all have been waiting for: the food in Thailand. Where do I even start??
                The food is just amazing there. My favourite are the different snacks from the street market. There is a variety to choose
                from, it's like a buffet full of spices. Speaking of spices, thai people use unique flavours and spices which make the food
                ten times better. It explodes your taste buds and leaves you craving for more. The winners for me are the ones shown in pictures. The first
                one here is the Pad thai, a special type of noodles, usually served on a banana leaf which makes it altogether more of a fun experience and surprisingly
                enhances the taste. It is also topped off with peanuts. The second one is Pad Kra Pao which is minced pork or chicken stir fried
                served with white rice. It is full of flavours and definitely worth the extra spice!
            </p>
        </div>

    </div>
    </div>

    <br>
    <br>

    <div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>My Final thoughts</h1>
        </div>
    </div>
    </div>

    <br>
    <p>
    I absolutely enjoyed my stay in Thailand and would go back if I could. It was one of my dreams to visit this country and
    it eventually happened. This country gave me more motivation to travel around the world and definitely reinforced my passion
    for traveling. My rating for this country would be a 7.5/10 compared to the other countries I have visited, partly because of the
    food and partly because of its touristic attractions. There wasn't a big variety of food as I anticipated there to be. However, the pricing
    was perfect, not expensive at all and definitely worth the 1k plane ticket. I would recommend this place to everyone, mainly for its touristic
    spots. If you are a big foodie like me and travel to experience the thai cuisine, then this is not the place you are looking for. There
        are also plenty activities that you can do with your friends and family. Other than that, the trip was perfect and visiting the country
        with my family made it better.
    </p>



{% endblock %}
